<section id="committee" class="committee">
    <h2>Workshop Committee</h2>
    <hr class="bar" />
    <div class="about-lock">
    </div>
    <div class="simple-text">
        <div class="i-center">
            Workshop co-chairs
        </div>
        <ul>
            <li>Roberto Bruschi, Consortium for Telecommunications (CNIT), Genova, Italy, <a href="mailto:roberto.bruschi@cnit.it">roberto.bruschi@cnit.it</a></li>
            <li>Claudia Campolo, University Mediterranea of Reggio Calabria, Italy, <a href="mailto:claudia.campolo@unirc.it">claudia.campolo@unirc.it</a></li>
            <li>Florian Wamser, University of Würzburg, Germany, <a href="mailto:florian.wamser@informatik.uni-wuerzburg.de">florian.wamser@informatik.uni-wuerzburg.de</a></li>
        </ul>

        <div class="i-center">
            Technical Program Committee
        </div>
        <ul>
            <li>Chiara Lombardo, Consortium for Telecommunications (CNIT), Italy</li>
            <li>Christian Esteve Rothenberg, University of Campinas, Brasil</li>
            <li>Daniel Corujo, Instituto de Telecomunicações, Aveiro, Portugal</li>
            <li>Florian Metzger, University of Duisburg-Essen</li>
            <li>Giovanni Schembra, University of Catania, Italy</li>
            <li>Ivan Farris, Aalto University, Finland</li>
            <li>Massimo Condoluci, King's College London, Great Britain</li>
            <li>Matteo Repetto, Consortium for Telecommunications (CNIT), Genova, Italy</li>
            <li>Michael Seufert, University of Würzburg, Germany</li>
            <li>Paolo Lago, Consortium for Telecommunications (CNIT), Genova, Italy</li>
            <li>Ramon dos Reis Fontes, University of Campinas, Brasil</li>
            <li>Robert Birke, IBM Research, Zurich, Switzerland</li>
            <li>Roberto Riggio, CREATE-NET, Italy</li>
            <li>Stefan Covaci, Technical University of Berlin, Germany</li>
            <li>Thomas Zinner, University of Würzburg, Germany</li>
            <li>Xiaojun Wang, Dublin City University, Ireland</li>
        </ul>
    </div> 

<!--    <div class="about-lock">
{% include partner_carousel.html %}
    </div> -->

</section>
