<div id="home">
    <a href="#home" class="back-to-top">Back To Top</a>
    <div id="container1" class="arrow"></div>

    <header id="home">
        <div id="container" class="logo"></div>
        <nav>
            <a href="#about-me">Scope</a>
            <a href="#topics">Topics of Interest</a>
            <a href="#submission">Submission</a>
            <a href="#committee">Workshop Committee</a>
       <!--     <a href="#timeline">Dates and Timeline</a>
            <a href="#contact">Contact</a> -->
            <br/>
            <a href="https://www.dropbox.com/s/rin7gii6alp8fn7/NetFoG_workshop_proposal_NetSoft2017-website.pdf?dl=1"><img src="assets/img/download.gif"/>CfP</a>
            <a href="http://sites.ieee.org/netsoft/">IEEE NetSoft</a>
        </nav>

        <h1>
            <span>NetFoG 2017</span>
            <p class="kicker">First IEEE International Workshop on<br> Network Programmability -<br> From the Data Center to the Ground</p>
            <p class="kicker-small">To be held in conjunction with the <a href="http://sites.ieee.org/netsoft/">IEEE NetSoft 2017 in Bologna, Italy</a><br>
technically co-sponsored by IEEE,<br> and in cooperation with IEEE ComSoc,<br> IEEE Software-Defined Networks</p>
            <!--<p class="kicker-small"><b>Monday, 12. September 2016</b></p>-->
        </h1>

    </header>
</div>
