<section class="submission">
<h2 id="itc">
Associated IEEE Conference:<br> ITC 28 in Würzburg</h2>
<hr class="bar"/>
<div class="about-lock">
</div>

<div class="simple-text-box">
The PROCON Workshop will be held in conjunction with the <a class="highlight" href="http://itc28.org">ITC 28</a> in Würzburg.
</div>

<div class="simple-text-box">
<div class="simple-text-box-left">
Description:
</div>
<div clas="simple-text-box-right">
The ITC will take place from <a class="highlight" href="http://itc28.org/en/call-for-papers.html">12 - 16 September 2016</a> in <a class="highlight" href="http://itc28.org/en/venue.html">Würzburg, Germany</a>. 
It solicits original contributions that address the latest changes and developments in design, modeling, measurement, and performance evaluation of communication systems, networks, and services. 
ITC 28 is technically co-sponsored by IEEE Communications Society (IEEE ComSoc) and the Information Technology Society within VDE (ITG VDE), and in-cooperation with ACM SIGCOMM.
The objectives in these areas include, among others, energy-efficiency and green IT, network security and privacy, QoS and QoE, and resilience. More details on the areas and the list of topics can be found online at <a class="highlight" href="http://itc28.org">http://itc28.org</a>.
</div>
</div>



<div class="simple-text-box">
<div class="simple-text-box-left">
Link & Website:
</div>
<div clas="simple-text-box-right">
<a href="http://itc28.org"><img class="logo-icon" src="/assets/img/itc.png"></a>
<!--<a href="http://itc28.org"><img style="box-shadow: 0 3px 3px #444;" src="/assets/img/itc-homepage.jpg"></a>-->
</div>
</div>


<div class="skill-lock"></div></section>
