<section class="topics">
<h2 id="keynote">Keynote</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
<p>
<b>Title:</b> Ensuring Performance in the Virtual Environment
<br>
<br>
<b>Keynote speaker:</b> Robert Birke, IBM Research - Zurich, Switzerland
<br>
<br>
<b>Abstract:</b> The advancement of virtualization technologies powers up modern cloud computing infrastructures, providing the advantages of higher degrees of resource multiplexing and of ease of management. Meanwhile, virtualized systems also pose several challenges in guaranteeing application performance, such as additional overheads and capacity variability.<br>
In this talk, I will present some of the challenges and solutions in ensuring quality of service in virtualized systems. In particular, I will focus on lossless network virtualization and speculative application optimization to improve the tail latency.<br>
Network virtualization is particularly demanding due to the additional host processing required to forward packets and the increased packet headers needed for isolation. To tackle these performance impairments, I will present the possible benefits of the latest 802.1Q standards. I will specifically discuss zOVN, a first-of-its-kind overlay network featuring a lossless virtual switch and a lightweight I/O processing stack.<br>
While resource redundancy by virtual machine provisioning has been widely explored to guarantee QoS, its effectiveness may be hindered by its high cost and limited impact on tail performance. An attractive alternative to improve application performance is workload redundancy. Here I will present the benefits of partial replication for multi-tier applications in reducing the latency, especially the tail.<br>
<br>
<b>Bio:</b> Robert Birke is at IBM Research Zurich Lab. He received his Ph.D. in Electronics and Communications Engineering from the Politecnico di Torino, Italy. His research interests are in the broad area of virtual resource management for large-scale datacenters, including network design, workload characterization and big-data application optimization. He has published more than 40 papers at venues related to communication and system performance, e.g., SIGCOMM, SIGMETRICS, DSN, FAST, INFOCOM, and JSAC.
</p>
</div>

<div class="skill-lock"></div></section>
