<section class="topics">
<h2 id="program">Workshop Program 2017</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
<p>
<b>Monday, July 3rd, 2017, 11.00 - 17.00</b><br>
<br>
<b>Session 1: Virtualization in multi-domain environments (Chair: Roberto Bruschi)</b><br>11:00 - 12:30<br>
<ul>
    <li>Li Li, Yifei Wei, Mei Song, Xiaojun Wang.</br>
    Energy Efficient Dynamic Flow-based Management For
    Relay-assisted Heterogeneous Networks</li>
    <li>Roberto Bruschi, Franco Davoli, Paolo Lago, Jane Frances Pajo</br>
    A Scalable SDN Slicing Scheme for Multi-domain Fog/Cloud Services
    </li>
    <li>Silvia Fichera, Molka Gharbaoui, Barbara Martini, Piero Castoldi, Antonio
    Manzalini</br>
    On Experimenting 5G: Testbed Set-up for SDN Orchestration across Network
    Cloud and IoT domains
    </li>
    <li>Giuseppe Faraci, Alfio Lombardo
    </br>An NFV Approach to Share Home Multimedia Devices
    </li>
</ul>
<b>Lunch Break</b><br>
12:30 - 14:00</br>
<br>
<b>Session 2: Demonstration Session (Chair: Michael Seufert)</b><br>
14:00-14:45</br>
<ul>
    <li>Drone Racing in the Fog (H2020 INPUT Project)</br>
    Paolo Lago</li>
</ul>
<b>Session 3: Evaluation tools and methodologies (Chair: Claudia Campolo)</b><br>
14:45-16:00</br>
<ul>
    <li>Michael Seufert, Brice Kamneng Kwam, Florian Wamser, Phuoc Tran-Gia<br>
    EdgeNetworkCloudSim: Placement of Service Chains in Edge
    Clouds Using NetworkCloudSim</li>
    <li>Paul Chaignon, Kahina Lazri, Jérôme François, Olivier Festor<br>
    Understanding Disruptive Monitoring Capabilities of Programmable Networks</li>
    <li>Divya Tekke Kanapram, Matteo Repetto, Riccardo Rapuzzi, Guerino Lamanna
    </br>A framework to correlate power consumption and resource usage in cloud
    infrastructures
    </li>
</ul>
<b>Coffee Break</b><br>
16:00 - 16:30</br>
<br>
</p>
</div>

<div class="skill-lock"></div></section>
