<section class="submission">
<h2 id="submission">Submission</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text-box">
<div class="simple-text-box-left">
Proceedings:
</div>
<div class="simplex-text-box-right">
<p>
Papers accepted for IEEE NetFog 2016 will be published in the conference proceedings and submitted to IEEE Xplore as well as other Abstracting and Indexing (A&I) databases. The IEEE reserves the right to remove any paper from IEEE Xplore if the paper is not presented at the workshop.
</p>
</div>
</div>

<div class="simple-text-box">
<div class="simple-text-box-left">
Submission:
</div>
<div class="simplex-text-box-right">
<p>
Authors are invited to submit original contributions (written in English) in PDF format. Only original papers not published or submitted for publication elsewhere can be submitted. Papers can be of two types: full (up to 6
pages) or short (up to 4 pages) papers. Full Papers accepted as short Papers will be required to be reduced to 4-pages  length.  Papers  should  be  in  IEEE  2-column  US-Letter  style  using  IEEE  Conference  template (<a href="http://www.ieee.org/conferences_events/conferences/publishing/templates.html">download</a>)   and   submitted   in   PDF format via <a href="https://jems.sbc.org.br/jems2/index.php?r=conference/main&c=2764">JEMS</a>. Papers exceeding these  limits,  multiple  submissions,  and  self-plagiarized  papers  will  be  rejected  without  further  review.  All submitted papers will be subject to a peer-review process.
</p>
<p>
Authors should submit their papers in PDF, postscript, or Word formats via EDAS.
</p>
</div>
</div>

<!--<div class="simple-text-caption">
<a class="button button5" href="https://edas.info/N21285"><span>Submit Now</span></a>
</div>-->

<!--<div class="simple-text-box">
<div class="simple-text-box-left">
Camera-Ready Papers:
</div>
<div class="simplex-text-box-right">
<p>
<b>Camera-Ready Papers: Author Final Paper Preparation and Submission Instructions</b></br>
To submit the camera-ready copy, you need to complete the following steps by June 15, 2016 at the latest.
<ul>
<li>1) Upload a scan of the completed and signed <a href="https://itc28.org/_Resources/Persistent/d47fc903ad9a0540df4dd140763d9a662369c23b/ITC28-Copyrightform.pdf">copyright form</a> to <a href="https://edas.info/">EDAS</a>! </li>
<li>2) Revise your paper and format it correctly!</li>
<li>3) Process it with PDF eXpress to obtain an IEEE Xplore-compatible pdf file!</li>
<li>4) Upload that file to the <a href="http://www.ieeeconfpublishing.org/cpir/authorKit.asp?Facility=CPS_Sept&ERoom=ITC+2016">CPS site</a>!</li>
</ul>
</p>
<p>
For further detail about that process consult the <a href="http://www.ieeeconfpublishing.org/cpir/authorKit.asp?Facility=CPS_Sept&ERoom=ITC+2016">Author Final Paper Preparation and Submission Instructions (CPS)</a>!
</p>
<p>
If you have questions, please contact the CPS editor Patrick Kellenberger (<a href="mailto:pkellenberger@computer.org">pkellenberger@computer.org</a>).
</p>
</div>
</div>-->


<div class="skill-lock"></div></section>
