<section class="topics">
<h2 id="topics">Topics of Interest</h2>
<hr class="bar"/>

<div class="about-lock">
</div>

<div class="simple-text">
<p>
Authors  are  invited to  submit  papers  that  fall  in  the  area  of  programmability  of  cloud  networks  and applications. Topics of interest include, but are not limited to, the following:
</p>
<ul>
<li>extensions to IaaS, PaaS and SaaS concepts, interfaces and platforms</li>
<li>management and monitoring of QoS/QoE over programmable networks</li>
<li>architectures for virtualization and programmability in legacy and 5G networks</li>
<li>orchestration and management frameworks for SDN/NFV</li>
<li>big data for orchestration and management operations in programmable networks</li>
<li>fog/mobile edge computing architectures and solutions</li>
<li>SDN/NFV enablers for fog/mobile edge computing</li>
<li>addressing, discovery and networking techniques for fog/edge computing</li>
<li>fog/mobile edge computing support to IoT, 5G, autonomous and connected vehicles</li>
<li>innovative fog/edge cloud services and applications</li>
<li>incentives/business models for fog/edge cloud services</li>
<li>security in fog/mobile edge computing scenarios</li>
<li>SDN/NFV solutions to support user mobility and application/service proximity</li>
<li>sustainability and energy efficiency for programmable networks</li>
<li>microservices and containerization technologies</li>
<li>emulation/simulation    platforms,    experimental    testbeds,    open    source    projects,    prototypes implementation,  modeling and performance analysis</li>
</ul>
</div>

<div class="simple-text-caption">
<p>
<b>
Authors are invited to submit papers, which fall within the areas mentioned above or are related to them.
</b>
</p>
</div>


<div class="skill-lock"></div></section>
